.container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header, article, section, footer {
    background-color:gray;
    border: 3px solid white;
    color: white;
}

/* HEADER  */

header {
    height: 200px;
}

/* ARTICLES */

.article-container {
    display: flex;
}

article {
    height: 500px;
    width: 49.9%;
}

/* SECTIONS */

.section-container {
    display: flex;
}

section {
    height: 200px;
    width: 33%;
}

/* FOOTER */

footer {
    height: 200px;
}